# ============================
# ExaDigiT Simulation Server
# ============================
# External (host) port to expose the Simulation Server
SIMSERVER_HOST_PORT=8090

# Upstream git ref (branch, tag, or commit)
SIMSERVER_REF=e24f4943982469c8d8ce190a4e94a056c33d7eaf

# ============================
# OpenDCIM
# ============================
OIDC_ENDPOINT=http://keycloak:8080/realms/idt4gdc
OIDC_CLIENT_ID=opendcim
OIDC_CLIENT_SECRET=CHANGE_ME
OIDC_USERID=test
OPENDCIM_USER_APIKEY=0ff38b1e9b8052611d418c5cd6fe5ff0