# ============================
# ExaDigiT Simulation Server
# ============================
# External (host) port to expose the Simulation Server
SIMSERVER_HOST_PORT=8090

# Upstream git ref (branch, tag, or commit)
SIMSERVER_REF=e24f4943982469c8d8ce190a4e94a056c33d7eaf

# ============================
# OpenDCIM
# ============================
OIDC_ENDPOINT=http://keycloak:8080/realms/idt4gdc
OIDC_CLIENT_ID=opendcim
OIDC_CLIENT_SECRET=CHANGE_ME
OIDC_USERID=test
OPENDCIM_USER_APIKEY=0ff38b1e9b8052611d418c5cd6fe5ff0



# ============================
# Bridge
# ============================
BRIDGE_PORT=8000
POLL_INTERVAL_S=60
NODE_PDUID_MAP=app/mappings/node_to_pduid.json

EXADIGIT_BASE_URL=http://localhost:8081
EXADIGIT_SYSTEM=idt4gdc_dc1

OPENDCIM_BASE_URL=https://localhost:8080/api/v1
OPENDCIM_USER=test
OPENDCIM_API_KEY=0ff38b1e9b8052611d418c5cd6fe5ff0
OPENDCIM_VERIFY_SSL=false

